@import "~normalize.css";
@import "modules/navigation.scss";


body{
  background-color: white;
      font-family: 'Lato', sans-serif;
      margin:0;
  }
  .header{
      height:100px;
      font-size:30px;
      &__box
  {
      width:100%;
      height:100px;
  }
  }
  .main{
      &__content
  {
      max-width:1000px;
      margin-right:auto;
      margin-left:auto;
  }
  &__heading
  {
      font-weight:900;
      letter-spacing: 3px;
      text-align:center;
  }
  }
  .section
  {
      &__images
      {
        
          display:flex;
          align-items:stretch;
          justify-content: space-between;
         
      }
      &__image-box
  {
      
      width:310px;
      margin:10px 18px 20px 18px;
      background:black;
      height:300px;
      display:inline-block;
  
  }
  }
  .article__box{
      width:1000px;
      margin:40px auto 40px auto;
      box-sizing: border-box;
      background-color: #fff;
      border:2px solid black;
      
  }
  .article{
      &__title{
          padding:0 0 8px 0;
          font-size:20px;
          border-bottom:2px solid black; 
          width:960px;  
          margin:20px auto 0 auto;
          }
          &__title::before {
              content:"";
              display:inline-block;
              width: 10px;
              height:10px;
              border-radius:50%;
              background-color: black;
              margin-right:4px;
              }
              &__content{
                  width:960px;  
                  margin:10px auto 0 auto;
                  line-height:150%;
                  text-align:justify;
              }
  }
  .footer{
      text-align:center;
      font-size:20px;
      margin-top:150px;
      padding:30px;
      height:60px;
      background:black;
      margin-bottom:0;
      color:white;
  }
  
  .main{
      margin-top:40px;
      margin: 40px;
      min-width:1000px;
      display:grid;
      grid-template-areas: "heade__box heade__box "
      "article aside"
      "articlee asidee"
      "footer footer";
      grid-template-columns: 1fr 300px;
      column-gap:10px;
      row-gap:20px;
      
  }
  .heade__box{
      grid-area: heade__box;
      background: #fff;
      padding:10px;
  }
  .article{
      grid-area: article;
      background: #fff;
      padding:10px;
  }
  .aside{
      grid-area: aside;
      padding:10px;
  }
  .footer{
      grid-area:footer;
  }
  .articlee{
      grid-area:articlee;
      background: #fff;
      padding:10px;
  }
  .asidee{
      grid-area:aside;
      background: #fff;
      padding:10px;
  }
  
  @media screen and (max-width:600px){
  body{
      background:red;
  }
  .navigation__mobile{
      display:none;
  }
  .header{
  max-width:600px;
  }
  .footer{
      max-width:600px;
  }
  .main{
      margin-top:40px;
      margin: 40px;
      max-width:600px;
      display:grid;
      grid-template-areas: "heade__box heade__box "
      "article aside"
      "articlee asidee"
      "footer footer";
      grid-template-columns: 1fr 100px;
      column-gap:10px;
      row-gap:20px;
      
  }
  
  }
  @media screen and (max-width:768px){
      .navigation{
          min-width:600px;
      }
      .header{
          min-width:600px;
          }
          .footer{
              min-width:600px;
          }
         
  
      }
